<!DOCTYPE html>
<html style="height:100%; width:100%">
   <head>
      <title><%=destination%></title>
   </head>
   
   <body style="height:100%; width:100%">
      <p>You entered <%=start%> as your starting location</p>
      <p>You entered <%=destination%> as your destination</p>
   
	  <div id="map" style="height:100%; width:100%">
	  </div>
	  
	  <script>
	  var map;
	  function initMap() {
	map = new google.maps.Map(document.getElementById('map'), {
		center: {lat: -34.397, lng: 150.644},
		zoom: 15
	});
}
	  </script>
	  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg86hNaVTkGPq0OYvHnyELgH1X7gIGfbk&callback=initMap" async defer>  
	  </script>
   </body>
</html>